<!--describing the view-->
@model IEnumerable<ridesnShare.Models.TripDTO>
@{
    ViewBag.Title = "Trip";
}


<!-- Sidebar -->
<div class="sidebar">
    <h2 class="sbc">RideShare</h2>
    <!-- Navigation links -->
    <div class="sbc"><a href="/Passenger/List">Passengers</a></div>
    <div class="sbc"><a href="/Driver/List">Drivers</a></div>
    <div class="sbc"><a href="">Bookings</a></div>
</div>

<div class="cnt">
    <div>
        <!-- Header -->
        <h2>List of Trips</h2>
        <!--for each loop that determines the info we wanna render for the trips-->
        <!-- Link to add a new trip -->
        <a href="/Trip/Add">Add a Trip</a>

        <!-- Search form -->
        <form action="" method="GET">
            <div>
                <input class="input" type="text" name="PassengerSearchKey" />
                <input class="submit" type="submit" value="Search" />
            </div>
        </form>
    </div>
    <!-- Trips table -->
    <table>
        <thead>
            <tr>
                <td><b>startLocation</b></td>
                <td><b>endLocation</b></td>
                <td><b>price</b></td>
                <td><b>time</b></td>
                <td><b>dayOftheweek</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var trip in Model)
            {
                <tr>
                    <!-- Display trip details -->
                    <td>@trip.startLocation</td>
                    <td>@trip.endLocation</td>
                    <td>@trip.price</td>
                    <td>@trip.Time</td>
                    <td>@trip.dayOftheweek</td>
                    <td><a class="mbtn update" href="/Trip/Edit/@trip.tripId">Update</a></td>
                    <td><a class="mbtn delete" href="/Trip/DeleteConfirm/@trip.tripId">Delete</a></td>
                </tr>

            }
        </tbody>
    </table>

</div>

